.container{
    flex: 0 0 285px;
    height: 300px;
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);
}

.image{
    border-top-right-radius: var(--border-radius-m);
    border-top-left-radius: var(--border-radius-m);
    object-fit: cover;
    height: 200px;
    width: 285px;
}

.textContainer{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 16px;
}

.title{
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
}

.priceContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.button{
    cursor: pointer;
}

.addToCart{
    height: 20px;
    width: 20px;
}