@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

:root{
  --light-blue: #8AC4DD;

  --white: #FFFFFF;
  --light-light-peach: #FFFAFA;
  --medium-peach: #f0e7e7;
  --light-peach: #E7D6D6;

  --light-light-pink: #fdf2fa;
  --light-pink: #EABEDC;
  --medium-pink: #EB99C0;
  --bright-pink: #DE67A8;

  --light-grey: #aaaaaa;
  --dark-grey: #545454;

  --black-alpha-56: rgb(0,0,0,0.56);

  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-sm: 18px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 28px;

  --font-weight-xs: 200;
  --font-weight-s: 300;
  --font-weight-m: 500;
  --font-weight-l: 600;

  --line-height-s: 18px;

  --border-radius-m: 8px;
}

*{
  font-family: 'Gabarito', sans-serif;
  color: black;
}

.mainContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent{
  background-color: var(--white);
  min-height: 460px;
}
