version: "3.9"

services:
  local-postgres:
    image: postgres:12.6
    container_name: local-postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      timeout: 2s
      retries: 5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: keytoalldoors
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: