.container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.leftContainer, .rightContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
}

.leftContainer{
    flex-basis: 200px;
    border-radius: var(--border-radius-m);
    padding: 24px;
    justify-content: flex-start;
}

.rightContainer{
    flex-basis: 900px;
    justify-content: stretch;
}

.link{
    width: 100%;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-l);
}

.link:hover, .selected{
    color: var(--bright-pink);
    border-bottom: 2px solid var(--bright-pink);
    transition: 0.1s ease-in-out;
}

.counter{
    align-self: flex-end;
    color: var(--black-alpha-40);
    padding: 0 10px;
    margin-bottom: -10px;
}

.favoriteContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.placeholder{
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: var(--border-radius-m);
    background-color: var(--light-light-pink);
    color: black;
    font-size: var(--font-size-s);
    text-align: center;
}

.placeholderTitle{
    color: black;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-l);
}

.logOutButton{
    width: 100%;
    /* text-decoration: underline; */
    font-size: var(--font-size-s);
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
}