.container{
    position: relative;
}

.image{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    /* position: absolute; */
    z-index: 1;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    position: absolute;
    z-index: 2;
    right: 0;
    width: 500px;
    color: #fff;
}

.title{
    font-size: 28px;
    font-weight: 600;
}

.description{
    font-size: 20px;
    font-weight: 400;
}