.container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.topContainer{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: flex-start;
}

.leftContainer{
    flex-basis: 600px;
}

.image{
    width: 600px;
    object-fit: cover;
    border-radius: var(--border-radius-m);
}

.rightContainer{
    width: 580px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.productContainer{
    width: 580px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);

    padding: 16px 24px 24px 24px;
}

.titleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
}

.avgReviewContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addtoFavorite{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.title{
    width: 100%;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    border-bottom: 1px solid var(--black-alpha-40);
}

.avgReview{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

.avgRating{
    font-size: var(--font-size-sm);
}

.badge{
    height: 15px;
    width: 15px;
}

.badgeDisabled{
    cursor: auto;
}
.badgeEnabled{
    cursor: pointer;
}

.button{
    width: 360px;
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    border: 1px solid var(--bright-pink);
    color: var(--bright-pink);
}

.button:hover{
    background-color: var(--bright-pink);
    color: var(--light-light-pink);
}

.buttonInverted{
    width: 360px;
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    border: 1px solid var(--bright-pink);
    background-color: var(--bright-pink);
    color: var(--light-light-pink);
}

.buttonInverted:hover{
    background-color: var(--light-light-pink);
    color: var(--bright-pink);
}

.addToCartContainer{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
}


.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
}

.counterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    background-color: var(--medium-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    width: 150px;
    height: 36px;
}

.amountLeft{
    align-self: flex-end;
    padding: 0 5px;
    color: var(--black-alpha-40);
}

.descriptionContainer{
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius-m);
    padding: 16px 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
}

.descriptionElement{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 10px;
}

.header{
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
    width: 150px;
}

.text{
    width: 372px;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
}

.reviewsContainer{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}

.reviewsTitle{
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
}

.reviewContainer{
    width: 100%;
    background-color: var(--light-light-pink);
    padding: 16px 24px;
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.myReview{
    color: var(--black-alpha-56);
    align-self: flex-end;
    font-size: var(--font-size-xs);
}

.author{
    color: var(--black-alpha-56);
    font-size: var(--font-size-xs);
    margin-top: -5px;
}

.text{
    width: 100%;
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-alpha-50);
}
   
.modalContent {
    width: 500px;
    background-color: var(--light-light-pink);
    padding: 16px 24px 24px 24px;
    border-radius: var(--border-radius-m);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}

.modalTitle{
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
}

.modalInput{
    width: 100%;
    background-color: var(--light-light-pink);
    border: 1px solid var(--bright-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    color: black;
    font-size: var(--font-size-s);
}

.modalInput::placeholder{
    color: var(--medium-pink);
}

.modalText{
    height: 200px;
}
   