.footer{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    align-items: top;
    column-gap: 100px;
    justify-content: space-between;
    height: auto;
    background-color: var(--light-light-pink);
    min-width: 1200px;
}

.logo{
    height: 20px;
    width: 20px;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.logoContainer{
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-m);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

.description{
    width: 300px;
    font-weight: var(--font-weight-s);
    overflow-wrap: break-word;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: left;
    justify-content: flex-start;
}

.middleContainer, .linkContainer, .rightContainer, .infoContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.header{
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-m);
}
.linkContainer{
    font-weight: var(--font-weight-s);
    row-gap: 15px;
}
.middleContainer{
    width: 200px;
    row-gap: 30px;
}
.rightContainer{
    width: 350px;
    row-gap: 30px;
}
.infoContainer{
    row-gap: 8px;
}

.blackButton{
    color: var(--bright-pink);
}

.blackButton:hover{
    background-color: var(--bright-pink);
    color: var(--light-light-pink);
    border-color: var(--bright-pink);
}
.linkBigger{
    width: 200px;
}
.linkBigger:hover{
    font-weight: var(--font-weight-l);
}
.svg{
    height: 15px;
    width: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-grey);
    width: 350px;
}

.info:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.infoFirstRow{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: flex-start;
}

.actualInfo{
    font-size: 13px;
    font-weight: var(--font-weight-xs);
    color: var(--dark-grey);
}

