.container{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
}

.image{
    width: 600px;
    border-radius: var(--border-radius-m);
}

.info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.infoContainer{
    width: 580px;
    padding: 15px 20px;
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
}

.reviewContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
}

.counter{
    height: 24px;
    align-self: flex-end;
    color: var(--black-alpha-40);
}

.review{
    width: 580px;
    padding: 15px 24px;
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.rating{
    background-color: var(--medium-pink);
    width: 55px;
    padding: 5px 10px;
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-l);
}

.badge{
    height: 27px;
    width: 27px;
    cursor: pointer;
}

.title{
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
}

.actonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
}

.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button{
    width: 150px;
    border-radius: var(--border-radius-m);
    padding: 5px;
    border: 1px solid var(--bright-pink);
    color: var(--bright-pink);
}

.button:hover{
    background-color: var(--bright-pink);
    color: var(--light-light-pink);
    transition: 0.1s ease-in-out;
}

.buttonReview{
    margin-top: -10px;
    align-self: flex-end;
    width: 150px;
    border-radius: var(--border-radius-m);
    padding: 5px;
    border: 1px solid var(--bright-pink);
    color: var(--bright-pink);
}

.buttonReview:hover{
    background-color: var(--bright-pink);
    color: white;
    transition: 0.1s ease-in-out;
}
.price{
    font-size: var(--font-size-m);
    padding-right: 10px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header{
    font-size: var(--font-size-sm);
    color: var(--bright-pink);
    font-weight: var(--font-weight-m);
}

.text{
    font-size: var(--font-size-s);
}

.reviewInputContainer{
    align-self: flex-end;
    width: 580px;
    padding: 15px 20px;
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}

.input, .inputBigger{
    width: 100%;
    background-color: var(--light-light-pink);
    border: 1px solid var(--bright-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    color: black;
    font-size: var(--font-size-s);
}

.input::placeholder, .inputBigger::placeholder{
    color: var(--medium-pink);
}

.buttonSend{
    width: 150px;
    border-radius: var(--border-radius-m);
    padding: 5px;
    border: 1px solid var(--bright-pink);
    color: var(--light-light-pink);
    background-color: var(--bright-pink);
}