.container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.leftContainer, .rightContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
}

.leftContainer{
    flex-basis: 200px;
    border-radius: var(--border-radius-m);
    padding: 24px;
    justify-content: flex-start;
}

.rightContainer{
    flex-basis: 900px;
    justify-content: stretch;
}

.link{
    width: 100%;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-l);
}

.link:hover, .selected{
    color: var(--bright-pink);
    border-bottom: 2px solid var(--bright-pink);
    transition: 0.1s ease-in-out;
}

.counter{
    align-self: flex-end;
    color: var(--black-alpha-40);
    padding: 0 10px;
    margin-bottom: -10px;
}

.favoriteContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.placeholder{
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: var(--border-radius-m);
    background-color: var(--light-light-pink);
    color: var(--black-alpha-56);
    font-size: var(--font-size-s);
    text-align: center;
}

.placeholderTitle{
    color: var(--black-alpha-56);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-l);
}

.buttonContainer{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 20px;
    margin-right: 5px;
}

.button{
    width: 285px;
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    border: 1px solid var(--bright-pink);
    color: var(--bright-pink);
}

.button:hover, .modalButtonAdd:hover{
    background-color: var(--bright-pink);
    color: var(--light-light-pink);
}

.modalButtonAdd{
    align-self: center;
    width: 360px;
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    border: 1px solid var(--bright-pink);
    color: var(--bright-pink);
}

.buttonInverted{
    width: 360px;
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    border: 1px solid var(--bright-pink);
    background-color: var(--bright-pink);
    color: var(--light-light-pink);
}

.buttonInverted:hover{
    background-color: var(--light-light-pink);
    color: var(--bright-pink);
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-alpha-50);
}
   
.modalContent {
    width: 500px;
    background-color: var(--light-light-pink);
    padding: 16px 24px 24px 24px;
    border-radius: var(--border-radius-m);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}

.modalTitle{
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
}

.modalInput{
    width: 100%;
    background-color: var(--light-light-pink);
    border: 1px solid var(--bright-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
    color: black;
    font-size: var(--font-size-s);
}

.modalInput::placeholder{
    color: var(--medium-pink);
}

.modalText{
    height: 100px;
}

.modalInputDescription, .modalInputDescriptionPink{
    align-self: flex-start;
    margin-bottom: -5px;
    padding-left: 10px;
}

.modalInputDescription{
    color: var(--black-alpha-50);
}
.modalInputDescriptionPink{
    color: var(--medium-pink);
}

.modalWarning{
    text-align: center;
}

.selectModalContainer{
    width: 100%;
    height: 36px;
    background-color: var(--light-light-pink);
    border: 1px solid var(--bright-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 0 5px 10px;
    color: black;
}

.placeholderTitle{
    /* color: var(--black-alpha-56); */
    color: black;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-l);
}
.placeholderContainer{
    width: 100%;
    height: 330px;
    background-color: var(--light-light-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border-radius: var(--border-radius-m);

    /* color: var(--black-alpha-56); */
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
}

.logOutButton{
    width: 100%;
    /* text-decoration: underline; */
    font-size: var(--font-size-s);
    background-color: var(--light-light-pink);
    border-radius: var(--border-radius-m);
    padding: 5px 10px;
}

.modalDateInputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}